@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


/* ============== Estilos Globais ============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Lexend Deca", sans-serif;
    background: linear-gradient(to right, #2F4A3A 0%, #294133 75%, #22372B 100%);
    color: #F4F1ED;
}

/* ============== NavBar ============== */
.navbar {
    height: 85px;
    background-color: #25392F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo {
    height: 70px;
}

.menuDireito {
    display: flex;
    align-items: center;
    gap: 25px;
}

.containerPesquisa {
    position: relative;
    display: flex;
    align-items: center;
    width: 30vw;
}

.containerPesquisa label{
    display: none;
}

.barraPesquisa {
    background-color: #F4F1ED;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 46px;
    padding: 0 40px 0 15px; 
    font-size: 16px;
    color: #25392F;
}

.barraPesquisa::placeholder {
    color: #25392F;
}

.containerPesquisa a{
    position: absolute;
    right: 15px;
    color: #25392F;
    font-size: 18px;
}

.menuLinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.links {
    text-decoration: none;
    color: #F4F1ED;
    font-size: 18px;
    font-weight: 200;
    transition: color 0.3s ease;
}

.links:hover {
    color: #FCA311;
}

.icones {
    display: flex;
    align-items: center;
    gap: 15px;
}

.iconesLinks img {
    width: 45px;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.iconesLinks img:hover {
    transform: scale(1.04);
}


/* ============== Botão Base e Modificadores ============== */
.botao {
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #F4F1ED;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    border-radius: 4px;
    text-align: center;
}

.botao:hover {
    background-color: #FCA311;
}

.botaoPrincipal {
    width: 100%;
    padding: 11px 0;
    background-color: #E36414;
    font-size: 30px;
    font-weight: 400;
}

.botaoBanner {
    padding: 30px 40px;
    background-color: #25392F;
    color: #F4F1ED;
    font-size: 25px;
    border-radius: 12px;
}

.botaoBanner:hover {
    background-color: #3A594A;
}

.botaoCompra {
    background-color: #E36414;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botaoAdicionarCarrinho{
    border: solid 2px #E36414;
    color: #E36414;
    background-color: transparent;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.botaoAdicionarCarrinho:hover{
    background-color: #FCA311;
    border: none;
    color: #F4F1ED;
}

.botaoFinalizar{
    padding: 11px 88px;
    background-color: #E36414;
    font-size: 30px;
    font-weight: 400;
}

.botaoFinalizarPedido {
    background-color: #E36414;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    padding: 10px 0;
}

.botaoComprarNovamente {
    background-color: #E36414;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============== Banner ============== */
.banner {
    position: relative; 
    line-height: 0;
}

.bannerHome {
    width: 100%;
    height: auto;
}

.tituloBanner {
    position: absolute;
    top: 50%;
    left: 5vw;
    width: 30%;
    transform: translateY(-50%); 
}

.tituloBanner h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    color: #F4F1ED;
    margin-bottom: 20px;
    line-height: 1.2;
}


/* ============== Categorias ============== */
.categorias {
    width: 100%;
    padding: 66px 46px;
}

.categorias h2 {
    color: #F4F1ED;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.itensCategorias {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 100%;
}

.categoriasEsquerda,
.categoriasDireita {
    width: 48%;
}

.categoriasDireita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.categoriasPequenas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.categorias a {
    display: block;
    line-height: 0; 
}

.categoriaMochilas,
.lanternas,
.garrafas,
.barracas {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categorias img:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.cardCategorias {
    color: #F4F1ED;
    text-decoration: none;
}

.cardCategorias figcaption {
    position: relative;
    top: -35px;
    padding: 0 16px;
    font-size: 35px;
}

.verTodos {
    text-align: center;
    margin-top: 66px;
}

.verTodos a {
    font-weight: 300;
    text-decoration: underline;
    color: #F4F1ED;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
}

.verTodos a:hover {
    color: #FCA311;
}


/* ============== Ofertas ============== */
.ofertas {
    width: 100%;
    padding: 66px 46px;
    background-color: #3A594A;
    display: flex;
    flex-direction: column;
}

.ofertas h2 {
    color: #F4F1ED;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.todasOfertas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

.cardProduto {
    width: 302px;
    padding: 14px 0;
    background-color: #22372B;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.destaqueOferta {
    align-self: flex-start;
    background-color: #FCA311;
    width: 78px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    left: 17px;
}

.produtoOferta{
    height: 150px;
}

.iconeFavoritos {
  position: absolute;
  right: 17px;
  z-index: 2;
}

.checkboxFavorito {
  position: absolute;
  width: 1em;
  height: 1em;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.coracaoFavorito {
  cursor: pointer;
  font-size: 28px;
  color: #E36414;
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
}

.coracaoFavorito i {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease;
}

.coracaoFavorito .bi-suit-heart-fill {
  opacity: 0;
}

.checkboxFavorito:checked ~ .bi-suit-heart {
  opacity: 0;
}

.checkboxFavorito:checked ~ .bi-suit-heart-fill {
  opacity: 1;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 10px;
}

.marca {
    font-weight: 300;
    color: rgba(244, 241, 237, 0.7);
    font-size: 19px;
}

.nomeProduto {
    font-weight: 300;
    color: #F4F1ED;
    font-size: 20px;
}

.valoresProduto {
    display: flex;
    color: #F4F1ED;
    align-items: center;
    justify-content: space-between;
}

.valoresProduto .precoAtual {
    font-size: 30px;
    font-weight: 600;
}

.valoresProduto .precoAntigo {
    font-size: 18px;
    font-weight: 200;
    text-decoration: line-through;
}

/* ============== Rodapé ============== */
footer {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 66px 65px 35px 65px;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoRodape {
    width: 336px;
}

.listaLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rodape h3 {
    font-size: 24px;
}

.listaLinks a {
    color: #F4F1ED;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
}

.listaLinks a:hover {
    color: #FCA311;
}

.maisInformacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.maisInformacoes p {
    font-weight: 200;
    font-size: 20px;
}

.formRodape {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formRodape label {
    font-size: 20px;
}

.emailRodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.inputEmail {
    color: #25392F;
    font-size: 20px;
    font-weight: 100;
    padding: 0 15px;
    height: 46px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.inputEmail::placeholder {
    color: #25392F;
}

.inputEmail:focus {
    box-shadow: 0 0 0 3px #FCA311;
}

.botaoRodape {
    width: 46px;
    height: 46px;
    background-color: #E36414;
    border: none;
    border-radius: 6px;
    color: #F4F1ED;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.botaoRodape:hover {
    background-color: #FCA311;
}

.bi-send {
    font-size: 20px;
}

.direitosReservados {
    text-align: center;
    font-weight: 200;
}


/* ============== Tela Sobre Nós ============== */
.tituloSobreNos {
    position: absolute;
    top: 50%;
    right: 10vw;
    width: 30%;
    transform: translateY(-50%); 
}

.tituloSobreNos h1 {
    font-size: 96px;
    text-transform: uppercase;
    font-weight: 400;
    color: #F4F1ED;
    margin-bottom: 20px;
    line-height: 1.2;
}

.sobreNos{
    padding: 55px 65px;
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.sobreNos h2{
    font-size: 50px;
    font-weight: 300;
}

.sobreNos p{
    font-size: 30px;
    font-weight: 200;
}

.quemSomos,
.nossaHistoria,
.nossaMissao,
.valoresEPrincipios{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blocosValores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
}

.blocosValores h3{
    font-size: 35px;
    font-weight: 300;
}

.blocosValores p{
    font-size: 25px;
    font-weight: 200;
}

.informacoesValores{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.natureza,
.qualidade,
.transparencia,
.aventura{
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    width: 49%;
    padding: 23px 26px;
    border-radius: 6px;
    gap: 16px;
}

.fraseMotivacional{
    text-align: center;
    margin: 100px 0;
    position: relative;
}

.fraseMotivacional h4{
    font-size: 40px;
    font-weight: 400;
}

/* ============== Tela Busca ============== */
.telaProdutos{
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.containerProdutos{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.filtros{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.filtros h2{
    font-size: 40px;
    font-weight: 400;
}

.blocoFiltros{
    background-color: #3A594A;
    backdrop-filter: blur(40px);
    border-radius: 6px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 375px;
}

.blocoFiltros h3{
    font-size: 30px;
    font-weight: 400;
}

.itensFiltros{
    display: flex;
    flex-direction: column;
}

.itensFiltros input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #F4F1ED;
    border-radius: 6px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 10px;
}

.itensFiltros input[type="checkbox"]::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%) scale(0);
    color: #2C4539;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.itensFiltros input[type="checkbox"]:checked {
    background-color: #F4F1ED;
}

.itensFiltros input[type="checkbox"]:checked::before {
    transform: translate(-50%, -58%) scale(1);
}

.itensFiltros label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 25px;
}

.resultadoProdutos{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.resultadoBusca{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.resultadoBusca h2{
    font-size: 40px;
    font-weight: 400;
}

.resultadoBusca p{
    font-size: 40px;
    font-weight: 400;
    color: #E36414;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

/* ============== Tela Todos Produtos ============== */
.bannerProdutos {
    width: 100%;
    height: auto;
}

.tituloBannerProdutos {
    position: absolute;
    top: 50%;
    right: 5vw;
    width: 30%;
    transform: translateY(-50%); 
}

.tituloBannerProdutos h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    color: #F4F1ED;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: right;
}

.todasCategorias{
    display: flex;
    flex-direction: column;
    padding: 90px 40px;
    gap: 30px;
}

.todasCategorias h2{
    font-size: 50px;
    font-weight: 400;
}

.produtosCategorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    row-gap: 50px;
}


/* ============== Tela Produtos Especificos ============== */
.produtoEspecifico{
    padding: 50px 40px;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.fotoProduto{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fotoPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A594A;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.fotoPrincipal img{
    width: 650px;
}

.detalhesProduto{
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: space-between;
    height: 650px;
}

.maisFotos{
    display: flex;
    justify-content: space-between;
}

.maisFotos figure{
    background-color: #3A594A;
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.maisFotos figure:hover{
    transform: scale(1.04);
}

.maisFotos .maisImagens{
    width: 150px;
    height: 150px;
}

.detalhesProduto .nomeProduto{
    font-size: 50px;
    font-weight: 400;
}

.marcaProduto{
    font-size: 25px;
    font-weight: 200;
    color: rgba(244, 241, 237, 0.7);
}

.precoAtual{
    font-size: 40px;
    font-weight: 500;
}

.infoDesconto{
    font-size: 25px;
    font-weight: 300;
}

.infoParcelamento{
    font-size: 25px;
    font-weight: 300;
    color: rgba(244, 241, 237, 0.7);
}

.infoFrete{
    font-size: 25px;
    font-weight: 300;   
}

.seletorQuantidade label{
    display: none;
}

.seletorQuantidade input{
    width: 110px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 0 10px;
}

.botoesCompra{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ============== Tela Carrinho ============== */
.telaCarrinho {
    display: flex;
    flex-direction: row;
    padding: 100px 40px;
    justify-content: space-between;
}

.compras,
.resumoCompras, h2 {
    font-size: 50px;
    font-weight: 200;
    padding-bottom: 30px;
}

.tabelaCarrinho {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3A594A;
    border-radius: 6px;
    padding: 25px;
    color: #F4F1ED;
}

.tabelaCarrinho thead {
    width: 100%;
}

.tabelaCarrinho thead tr {
    display: flex;
    padding: 10px 20px;
    border-bottom: 2px solid #F4F1ED;
}

.tabelaCarrinho thead th {
    flex: 1;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 20px;
}

.tabelaCarrinho thead th:first-child {
    flex: 2.5;
}

.tabelaCarrinho thead th:last-child {
    flex: 0.3;
}

.tabelaCarrinho tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tabelaCarrinho .itemCarrinho {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #F4F1ED;
}

.tabelaCarrinho .itemCarrinho td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    color: #F4F1ED;
}

.tabelaCarrinho .itemCarrinho td:first-child {
    flex: 2.5;
}

.itemCarrinho td:last-child {
    flex: 0.3;
    justify-content: flex-end;
    padding-right: 10px;
}

.infoProduto {
    display: flex;
    align-items: center;
    gap: 5px;
}

.infoProduto img {
    width: 50px;
}

.infoProduto p {
    margin: 0;
    font-size: 16px;
    color: #F4F1ED;
}

.precoProduto,
.subtotalProduto {
    font-weight: bold;
    font-size: 20px;
}

.seletorQuantidade input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.botaoRemover {
    background: none;
    border: none;
    color: #E36414;
    font-size: 18px;
    cursor: pointer;
}

.botaoRemover:hover{
    color: #FCA311;
}

.caixaResumo{
    background-color: #3A594A;
    border-radius: 6px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.caixaResumo h3{
    font-size: 35px;
    font-weight: 300;
}

.caixaResumo p{
    font-size: 35px;
    font-weight: 500;    
}

.caixaResumo .infoFrete{
    font-size: 25px;
    font-weight: 200;     
    color: rgba(244, 241, 237, 0.7);
}

.linhaResumoTotal{
    display: flex;
    gap: 10px;
}

/* ============== Tela Finalizar Compra ============== */
.telaFinalizarCompra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.ladoEsquerdo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dadosEntrega,
.formasPagamento, 
h2 {
    font-size: 50px;
    font-weight: 400;
}

.dadosEntrega article {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #3A594A;
    border-radius: 6px;
    padding: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    max-width: 700px;
}

.dadosHorizontais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.campoDados {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dadosEntrega label {
    font-size: 25px;
    font-weight: 400;
}

.campoMaior{
    width: 340px;
}

.campoMenor{
    width: 260px;
}


.dadosEntrega input, select{
    height: 60px;
    padding: 14px;
    font-family: Lexend Deca;
    font-size: 25px;
    font-weight: 200;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.dadosEntrega input::placeholder{
    color: #22372B;
}

.dadosEntrega select{
    color: #22372B;
}

.formasPagamento article {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #3A594A;
    border-radius: 6px;
    padding: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    max-width: 700px;
}

.selecionarPagamento {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

legend {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}

.opcaoPagamento {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
    font-size: 35px;
    font-weight: 300;
}

.opcaoPagamento input {
    display: none;
}

.radioVisual {
    width: 45px;
    height: 45px;
    border: 5px solid #E36414;
    border-radius: 50%;
    background: none;
    box-sizing: border-box;
}

.radioVisual:hover{
    border: 5px solid #FCA311;   
}

.opcaoPagamento input:checked + .radioVisual {
    background-color: #E36414;
    box-shadow: inset 0 0 0 10px #3A594A;
}

.formasPagamento label {
    font-size: 25px;
    font-weight: 400;
}

.formasPagamento input{
    height: 60px;
    padding: 14px;
    color: #22372B;
    font-family: Lexend Deca;
    font-size: 25px;
    font-weight: 200;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.resumoPedido article{
    padding: 30px 40px;
    width: 600px;
    background-color: #3A594A;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.itemPedido{
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
}

.itemPedido img{
    width: 160px;
}

.infoItemPedido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
}

.infoItemPedido h3{
    font-size: 35px;
    font-weight: 300;
}

.infoItemPedido p{
    font-size: 30px;
    font-weight: 600;
}

.resumoPrecos{
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

.resumoPrecos h4{
    text-align: left;
    font-size: 40px;
    font-weight: 300;
}

.resumoPrecos p{
    font-size: 40px;
    font-weight: 100;
}

.resumoPrecos div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resumoPedido h5{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    padding: 30px;
}

.precoTotal{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 500;
}

/* ============== Tela Perfil ============== */

.perfilContainer {
    background-color: #3A594A;
    padding: 30px;
    gap: 30px;
    border-radius: 10px;
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfilFoto {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.perfilFoto i {
    font-size: 125px;
    color: #F4F1ED;
}

.perfilEditarFoto {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #E36414;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.perfilEditarFoto i {
    color: #F4F1ED;
    font-size: 25px;
}

.perfilContainer .campoDados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.perfilContainer .campoDados label {
    font-size: 25px;
    font-weight: 400;
}

.perfilContainer .campoDados input {
    height: 60px;
    padding: 14px;
    font-family: Lexend Deca;
    font-size: 25px;
    font-weight: 200;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    background-color: #F4F1ED;
    color: #22372B;
}

.perfilContainer .campoDados input::placeholder {
    color: #22372B;
}

.logout{
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    color: #E36414;
    position: absolute;
    right: 50px;
    top: 125px;
    text-decoration: none;
}

.logout:hover{
    color: #FCA311;
}

.logout i{
    font-size: 35px;
}

.logout p{
    font-size: 25px;
    font-weight: 200;
}

.botaoNavegacaoFavoritos{
    position: absolute;
    right: 50px;
    top: 200px;
}

.botaoNavegacaoHistorico{
    position: absolute;
    right: 50px;
    top: 310px;
}

.botaoNavegacaoFavoritos,
.botaoNavegacaoHistorico {
    display: flex;
    flex-direction: column;
    color: #F4F1ED;
    background-color: #3A594A;
    border-radius: 6px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.botaoNavegacaoFavoritos:hover,
.botaoNavegacaoHistorico:hover {
    color: #FCA311;
}

.botaoNavegacaoFavoritos p,
.botaoNavegacaoHistorico p {
    font-size: 16px;
    font-weight: 200;
}

.botaoNavegacaoFavoritos i,
.botaoNavegacaoHistorico i {
    font-size: 25px;
}

/* ============== Tela Favoritos ============== */
.listaFavoritos{
    padding: 75px 40px;
}

.listaFavoritos .coracaoFavorito .bi-suit-heart-fill {
  opacity: 1;
}

.listaFavoritos .checkboxFavorito:checked ~ .bi-suit-heart-fill {
  opacity: 0;
}

.listaFavoritos .checkboxFavorito:checked ~ .bi-suit-heart {
  opacity: 1;
}

/* ============== Tela Pedidos ============== */
.telaPedidos{
    padding: 75px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.telaPedidos h1{
    font-size: 50px;
    font-weight: 400;
}

.produtoPedido{
    display: flex;
    flex-direction: row;
    background-color: #3A594A;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 10px;
    gap: 15px;
}

.imagemProdutoPedido{
    width: 270px;
}

.infoProdutoPedido{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.infoProdutoPedido h2{
    font-size: 35px;
    font-weight: 300;
    padding: 0;
}

.infoProdutoPedido p{
    color: rgba(244, 241, 237, 0.7);
    font-size: 25px;
    font-weight: 200;
}

.infoProdutoPedido h3{
    font-size: 35px;
    font-weight: 400;
}

.statusEntrega{
    height: 150px;
}

/* ============== Seção de Formulário Centralizado ============== */
.secaoFormulario {
    background-color: #3A594A;
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.secaoFormulario img{
    width: 325px;
}

.secaoFormulario h1{
    font-size: 50px;
    font-weight: 400;
}

.containerFormulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.containerFormulario .campoDados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.containerFormulario .campoDados label {
    font-size: 25px;
    font-weight: 400;
}

.containerFormulario .campoDados input {
    height: 60px;
    padding: 14px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
    font-weight: 200;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    background-color: #F4F1ED;
    color: #22372B;
}

.containerFormulario .campoDados input::placeholder {
    color: #22372B;
}

.containerFormulario a{
    color: #F4F1ED;
    text-decoration: none;
}

.containerFormulario a:hover{
    color: #FCA311;
}

/* ============== Tela Contato ============== */
.campoDados textarea{
    background-color: #F4F1ED;
    color: #22372B;
    height: 250px;
    width: 100%;
    padding: 14px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
    font-weight: 200;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    resize: none;
}

textarea::placeholder {
    color: #22372B;
}

/* ============== Tela Produtos Específicos ============== */
.produtoEspecifico{
    padding: 50px 40px;
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
    flex-wrap: wrap;
}

.fotoProduto{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fotoPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A594A;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.fotoPrincipal img{
    width: 650px;
}

.detalhesProduto{
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: space-between;
    height: 650px;
    width: 500px;
}

.maisFotos{
    display: flex;
    justify-content: space-between;
}

.maisFotos figure{
    background-color: #3A594A;
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.maisFotos figure:hover{
    transform: scale(1.04);
}

.maisFotos .maisImagens{
    width: 150px;
    height: 150px;
}

.detalhesProduto .nomeProduto{
    font-size: 50px;
    font-weight: 400;
}

.detalhesProduto .marcaProduto{
    font-size: 25px;
    font-weight: 200;
    color: rgba(244, 241, 237, 0.7);
}

.detalhesProduto .precoAtual{
    font-size: 40px;
    font-weight: 500;
}

.infoDesconto{
    font-size: 25px;
    font-weight: 300;
}

.infoParcelamento{
    font-size: 25px;
    font-weight: 300;
    color: rgba(244, 241, 237, 0.7);
}

.infoFrete{
    font-size: 25px;
    font-weight: 300;   
}

.seletorQuantidade label{
    display: none;
}

.seletorQuantidade .inputQuantidade{
    width: 110px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 0 10px;
}

.botoesCompra{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descricaoProdutos{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descricaoProdutos h2{
    font-size: 50px;
    font-weight: 400;
}

.descricaoProdutos p{
    font-size: 25px;
    font-weight: 200;
    text-align: justify;
}